<!DOCTYPE html>
<HTML>
    <head>
        <title> Flask App with RestFul capabilities Template</title>
        <script src="{{url_for('static', filename='jquery/jquery-3.3.1.min.js')}}" type="text/javascript"></script>
        <script src="{{url_for('static', filename='bootstrap-4.3.1-dist/js/bootstrap.js')}}" type="text/javascript"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='bootstrap-4.3.1-dist/css/bootstrap.css')}}">
    </head>
    <body>
        <div id='container' class='container-fluid'>
            Hello
        </div>
    </body>

</HTML>
